@model IEnumerable<FPTApp.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
{
    <p>
        @Html.ActionLink("Create", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }

    </table>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

